*{font-family: 'Roboto', sans-serif;}
body{
    display: flex;
    flex-direction: row;
    margin:0;
    
    width: 100%;
}
#mainpg_background{
    margin-left: -60px;
    min-width: 43%;
    z-index: -1;
}